@inherits LayoutComponentBase
@using Portfolio.Client.Shared

<div class="page-wrapper bright-theme">

    <main class="content-wrapper">
        <article class="content">
            @Body
        </article>
    </main>

    <footer class="footer mt-auto py-3 bg-dark text-center">
        <div class="container">
            <span class="text-muted small">© 2025 Salas Martin Daniel | Desarrollado con C# y Blazor.</span>
        </div>
    </footer>
</div>