@page "/projects"
@using Portfolio.Shared.Models 
@using Portfolio.Client.Components
@inject HttpClient Http 

<div class="container py-5">
    <h3 class="display-5 fw-bold mb- border-bottom pb-2 text-primary">
        <i class="fas fa-code me-2"></i> Mis Proyectos Destacados
    </h3>
    <p class="lead text-muted">
        Estos proyectos demuestran mi experiencia en el desarrollo de aplicaciones robustas implementando buenas practicas.
    </p>
    
    @if (projects == null)
    {
        <p class="lead text-muted">
        Cargando proyectos...
        </p>
    }
    else
    {
        <div class="row row-cols-1 row-cols-md-2 g-4 mt-3"> 
            @foreach (var project in projects)
            {
                <ProjectCard Project="@project" />
            }
        </div>
    }
</div>

@code {
    //private List<Project>? projects;

    private List<Project> projects = new List<Project>
    {
        new Project 
        { 
            Id = 1, 
            Title = "LubriManager (En Proceso)", 
            ShortDescription = "Software de gestión empresarial para lubricentros. Incluye control de stock, gestión de ventas, pedidos a proveedores y cálculo automatizado de ganancias. Arquitectura robusta enfocada en la integridad de datos.", 
            Technologies = "C#, .NET, WPF, MVVM, SQL Server",
            GitHubUrl = "",
            LiveDemoUrl = ""
        },
        new Project 
        { 
            Id = 2, 
            Title = "Buscaminas C/SDL2", 
            ShortDescription = "Recreación del clásico juego utilizando lenguaje C puro. Implementación de algoritmos de recursividad para el despeje de celdas y manejo de texturas y fuentes con la librería SDL2.", 
            Technologies = "C, SDL2, SDL_ttf, Algoritmos",
            GitHubUrl = "https://github.com/SalasmartinD/Buscaminas",
            LiveDemoUrl = ""
        },
        new Project 
        { 
            Id = 3, 
            Title = "Portafolio Médico", 
            ShortDescription = "Sitio web profesional desarrollado para una estudiante de medicina. Enfocado en la presentación de trayectoria académica y blog de artículos científicos.", 
            Technologies = "C#, Blazor WebAssembly, Bootstrap, ASP.NET Core",
            GitHubUrl = "https://portfolio-mar-seven.vercel.app",
            LiveDemoUrl = "https://portfolio-mar-seven.vercel.app" // Cambialo si tenés el link
        },
        new Project 
        { 
            Id = 4, 
            Title = "Full-Stack Portfolio", 
            ShortDescription = "Mi portafolio actual. Una SPA que demuestra la integración de Blazor con una API de .NET, despliegue automatizado y manejo de servicios externos como SendGrid.", 
            Technologies = "Blazor WASM, .NET API, Docker, Vercel, Render",
            GitHubUrl = "https://github.com/SalasmartinD/PortfolioSolution",
            LiveDemoUrl = "https://portfolio-solution-85fm.vercel.app"
        },
        new Project 
        { 
            Id = 6, 
            Title = "Catalog API (En Proceso)", 
            ShortDescription = "API RESTful desarrollada con una arquitectura orientada a microservicios, enfocada en la gestión de catálogos de productos con alta disponibilidad.", 
            Technologies = "ASP.NET Core, MongoDB, Docker",
            GitHubUrl = "",
            LiveDemoUrl = "" 
        },
        new Project 
        { 
            Id = 6, 
            Title = "BielaSystems", 
            ShortDescription = "Plataforma web corporativa que centraliza servicios de consultoría y desarrollo de software a medida.", 
            Technologies = ".NET 10, Blazor, JavaScript, C#",
            GitHubUrl = "",
            LiveDemoUrl = "bielasystems.com" 
        },
        
    };

    /* Método que se ejecuta al iniciar el componente
    protected override async Task OnInitializedAsync()
    {
        try
        {
            // La URL DEBE COINCIDIR con el puerto en el que corre Portfolio.Api
            var apiUrl = "https://portfoliosolution.onrender.com/api/Projects";
            //var apiUrl = "https://localhost:7208/api/Projects";
            projects = await Http.GetFromJsonAsync<List<Project>>(apiUrl);
        }
        catch (Exception ex)
        {
            // Manejo de errores
            Console.WriteLine($"Error al obtener proyectos: {ex.Message}");
            projects = new List<Project>(); // Inicializar vacío para evitar el error de Nulo
        }
    }
    */
}